In [1]:
import pandas as pd
import pkg_vtt_extract as vtt

%load_ext autoreload
%autoreload 2

In [ ]:
vtt.combine_two_part_ep('C1', 'Denouement _ Critical Role RPG Show Episode 35, pt. 1.en.vtt', 
    'Denouement _ Critical Role RPG Show Episode 35, pt. 2.en.vtt', 35)

vtt.combine_two_part_ep('C1', 'Gunpowder Plot, pt. 1  _ Critical Role RPG Show Episode 31.en.vtt', 
    'Gunpowder Plot, pt. 2  _ Critical Role RPG Show Episode 31.en.vtt', 31)

vtt.combine_two_part_ep('C1', 'Reunions _ Critical Role RPG Show Episode 33, pt. 1.en.vtt', 
    'Reunions _ Critical Role RPG Show Episode 33, pt. 2.en.vtt', 33)

In [2]:
vtt.rename_vtt('C1')
vtt.rename_vtt('C2')

In [3]:
with open("data_raw/C1_vtt/C1_1.vtt", "r", encoding="latin-1") as ep_raw:
    ep_raw = ep_raw.read().splitlines()
    count = 0
    for line in ep_raw:
        if count < 20:
            print (line)
            count += 1
        else:
            break

WEBVTT
Kind: captions
Language: en

00:00:00.314 --> 00:00:04.420
MATT: Hello everyone. My name is Matthew Mercer,
voice actor and Dungeon Master for Critical Role

00:00:04.420 --> 00:00:08.768
on Geek &amp; Sundry, where I take a bunch of other
voice actors and run them through a fantastical

00:00:08.768 --> 00:00:13.387
fantasy adventure through the world of Dungeons &amp;
Dragons. We play every Thursday at 7:00pm Pacific

00:00:13.387 --> 00:00:16.685
Standard Time on Geek &amp; Sundry's Twitch stream.
Please come watch us live if you have the

In [3]:
C1_processed_vtt_df = vtt.episode_extract('C1', 1, 115)
C1_processed_vtt_df.to_csv('data_output/C1_processed_vtt_df.csv')

Completed: ep 10 (1.02 min)
Completed: ep 20 (0.54 min)
Completed: ep 30 (0.45 min)
Completed: ep 40 (0.5 min)
Completed: ep 50 (0.5 min)
Completed: ep 60 (0.55 min)
Completed: ep 70 (0.47 min)
Completed: ep 80 (0.84 min)
Completed: ep 90 (1.59 min)
Completed: ep 100 (0.69 min)
Completed: ep 110 (0.45 min)
Completed: all

In [4]:
C1_processed_vtt = pd.read_csv('data_output/C1_processed_vtt_df.csv')
C1_processed_vtt.head()

,Unnamed: 0,start_time,end_time,name,speech,count,episode
0,0,00:00:00.314,00:00:13.387,matt,"hello everyone. my name is matthew mercer, voi...",31,1
1,1,00:00:24.239,00:01:09.809,matt,"welcome to first episode of critical role, and...",167,1
2,2,00:01:09.809,00:01:29.671,travis,"right, listen up! if you have ale, then you ha...",39,1
3,3,00:01:30.632,00:02:57.286,travis,"wait. easily the brains of the group, grog is ...",180,1
4,4,00:02:57.286,00:03:13.178,marisha,a first impression of keyleth would leave you ...,44,1

In [5]:
C1_org_name = vtt.org_time_person(C1_processed_vtt, 'C1')
C1_org_name.to_csv('data_output/C1_org_name.csv')
C1_org_name.head()

,name,speech,count,episode,total_time,start_time,end_time,person,campaign
10,laura,"like so many half-elves, vexahlia has spent mo...",211,1,85.730,663.958,749.688,laura,1
25,laura,"hi. im laura bailey. im also, you know, a voic...",14,1,6.468,948.472,954.940,laura,1
27,laura,im playing vexahlia. the coolest chick ever.,7,1,3.056,956.792,959.848,laura,1
29,laura,"the ranger with the bear named trinket, in cas...",20,1,4.190,962.693,966.883,laura,1
56,laura,oh no.,2,1,0.652,1202.212,1202.864,laura,1

In [6]:
C1_group_person_ep = vtt.group_by_person_episode(C1_org_name)
C1_count_ep = vtt.count_per_episode(C1_group_person_ep)
C1_count_ep.head()

,person,episode,word_count,line_count,time_count,cont_line_count,cont_word_count,cont_time_count
0,ashley,1,0,0,0.000,0,0,0.000
1,ashley,2,0,0,0.000,0,0,0.000
2,ashley,3,0,0,0.000,0,0,0.000
3,ashley,4,2000,248,759.153,248,2000,759.153
4,ashley,5,1366,255,495.454,503,3366,1254.607

In [11]:
C1_sentiment = vtt.sentiment_per_person_and_episode(C1_org_name)
C1_sentiment.to_csv('data_output/C1_sentiment.csv')
C1_sentiment.head()

,episode,person,speech,Subjectivity,Polarity
0,1,guest,"just so you know, were having an audio bottlen...",0.411111,0.103333
1,1,laura,"like so many half-elves, vexahlia has spent mo...",0.533649,0.180760
2,1,liam,never entirely welcome in the company of elves...,0.511508,0.115379
3,1,marisha,a first impression of keyleth would leave you ...,0.575266,0.144104
4,1,matt,"hello everyone. my name is matthew mercer, voi...",0.444532,0.068142

In [12]:
C2_processed_vtt_df = vtt.episode_extract('C2', 1, 90)
C2_processed_vtt_df.to_csv('data_output/C2_processed_vtt_df.csv')

Completed: ep 10 (0.56 min)
Completed: ep 20 (0.6 min)
Completed: ep 30 (0.63 min)
Completed: ep 40 (0.55 min)
Completed: ep 50 (0.64 min)
Completed: ep 60 (1.68 min)
Completed: ep 70 (4.45 min)
Completed: ep 80 (3.76 min)
Completed: ep 90 (3.66 min)
Completed: all

In [9]:
C2_processed_vtt = pd.read_csv('data_output/C2_processed_vtt_df.csv')
C2_org_name = vtt.org_time_person(C2_processed_vtt, 'C2')
C2_org_name.to_csv('data_output/C2_org_name.csv')

In [10]:
C2_sentiment = vtt.sentiment_per_person_and_episode(C2_org_name)
C2_sentiment.to_csv('data_output/C2_sentiment.csv')
C2_sentiment.head()

,episode,person,speech,Subjectivity,Polarity
0,1,ashley,"jeez louise, matt. . also, fun fact about ian ...",0.526598,0.116463
1,1,laura,"as in nnnn. . thanks, sam! . we have cubbies! ...",0.519500,0.127823
2,1,liam,thats actually how purvon dressed. . it is com...,0.519845,0.071780
3,1,marisha,"it smells like wood in the studio, like fresh ...",0.583031,0.156916
4,1,matt,"hello, everyone. . and welcome to tonights epi...",0.453280,0.092876